html{
    background-image: linear-gradient(45deg, black, white );
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

body{
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

.page-background {
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding-top: 20vh;
}

.container {
    position: relative;
    display: inline;
}

.bed {
    position: absolute;
    bottom: 197px;
    right: 926px;
    width: 10vw;
}

.bed:hover {
    width: 10.5vw;
    bottom: 197px;
    right: 926px;
}

.hut {
    position: absolute;
    width: 15vw;
    bottom: 136px;
    right: 1288px;
}

.hut:hover {
    width: 15.5vw;
    bottom: 136px;
    right: 1288px;
}

.swing {
    position: absolute;
    width: 8vw;
    bottom: -4px;
    right: 1351px;
}

.swing:hover {
    width: 8.5vw;
    bottom: -4px;
    right: 1351px;
}

.towerL {
    position: absolute;
    width: 8vw;
    bottom: 417px;
    right: 1452px;
    transform: scaleX(-1);
}

.towerL:hover {
    width: 8.5vw;
    bottom: 417px;
    right: 1452px;
}

.towerM {
    position: absolute;
    width: 8vw;
    bottom: 547px;
    right: 1348px;
}

.towerM:hover {
    width: 8.5vw;
    bottom: 547px;
    right: 1348px;
}

.towerR {
    position: absolute;
    width: 8vw;
    bottom: 472px;
    right: 1254px;
}

.towerR:hover {
    width: 8.5vw;
    bottom: 472px;
    right: 1254px;
}

.bedR {
    position: absolute;
    width: 10vw;
    bottom: 182px;
    right: 612px;
    transform: scaleX(-1);
}

.bedR:hover {
    width: 10.5vw;
    bottom: 182px;
    right: 612px;
}

.lamp {
    position: absolute;
    width: 20vw;
    bottom: -160px;
    right: 75px;
    transform: scaleX(-1);
}

.lamp:hover {
    width: 20.5vw;
    bottom: -160px;
    right: 75px;
}
